@use "../../styles/varibles/abstracts.scss" as *;
@use "../../styles/varibles/typography.scss" as *;

.intro-container {
  height: 100vh;
  text-align: center;
  margin-bottom: 5vh;
  width:100vw;
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:auto;
  margin:2vh;
  margin-top: 5vh;


  &__text-container {
    padding:1vh;
    background-color: $background-third;
    border: 1vh solid $color-light-grey;
    border-radius: 5vh;
    height: 55vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80vw;

  }
  &__title{
    font-size: 7rem;
    text-align: left; 
    font-weight: 900;
    font-family: $fontTitle;
    padding-left: 10vw;
  }
  &__top {
    font-size: 4.5rem;
    text-align: left; 
    font-weight: 500;
    font-family: $fontTitle;
    padding-left: 10vw;

  }

  &__middle {
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    font-family: $fontTitle;


  }
  &__lower {
    font-size: 1.5rem;
    text-align: center;
    font-family: $fontTitle;
    font-weight: 400;


  }
  &__image-container {
    height: 28vh;
    width: 28vh;
    overflow: hidden;
    position: absolute;
    top: 2vh;
    right: 1vw;
    z-index: 5;

  }
  &__image {
    height: 23vh;
    border-radius: 50%;
    border: 1vh solid $color-light-grey;

  }
  &__menu {
    background-color: $background-third;
    border: 1vh solid $color-light-grey;
    border-radius: 2.5vh;
    margin-top: 8vh;
    padding:0vh 2vh;
  }
}

@media screen and (min-width: $large-desktop-breakpoint) {
  .intro-content {
    &__text-container {
      width:80vw;
    }
    &__title{
      margin-top: 8vh;
      width:55vw;
      font-size: 7rem;
      text-align: left;
      line-height: 60%;
    }
    &__top {
      margin-top: 8vh;
      width:65vw;
      font-size: 5rem;
      line-height: 35%;
      letter-spacing: 0.1rem;
    }  
    &__image-container {
      height: 55vh;
      width: 55vh;
      top: 2vh;
      right: 3vw;
    }
    &__image {
      height: 48vh;
    }
    &__middle {
      font-size: 2rem;
      font-weight: 100;
      letter-spacing: 0.15rem;
    }
    &__lower {
      line-height: 85%;
    }
  }

}

