@use "../../styles/varibles/abstracts.scss" as *;
@use "../../styles/varibles/typography.scss" as *;


.project-container{
    min-height:100vh;
    height:auto;
    
}
.project-content{
    &__title-container{
        text-align: center;
        margin-top: 5vh;
    }

    &__title{
        font-size: $font-title-desktop;
        font-family: $fontTitle;

    }

    &__card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



}