@use "../../styles/varibles/abstracts.scss" as *;
@use "../../styles/varibles/typography.scss" as *;


.language-container {
  height:70vh;
  text-align: center;
}
.language-content {
  display: flex;
  flex-direction: column;

//   &__text-container {
//   }
  &__title-container {
    padding: 3vh;
  }
  &__title {
    font-family: $fontTitle;
    font-size:$font-large-header;

  }
  &__intro-container {
    margin-bottom: 3vh;

  }
  &__intro {
    font-family: $fontText;
    font-size:$font-text;

  }
  &__image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__image {
    padding:4vw;
  }
}
