@use "../../styles/varibles/typography.scss" as *;
@use "../../styles/varibles/abstracts.scss" as *;

.button {
  width: 13.5vw;
  height: 5vh;
  font-family: $fontText;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0vh 1vh;
  padding: 1vh 1vw;

  :hover {
    background-color: $dark-background-footer;
    color: $color-white;
    border-radius: 2vh;
    padding: 1vh 1vw;
    text-align: center;
  }
}

.hasBorder {
  border-radius: 2vh;
  font-weight: bold;
  border: 0.5vh solid $color-dark-grey;
  padding: 0;
  :hover {
    background-color: $dark-background-footer;
    color: $color-white;
    border-radius: 2vh;
    padding: 2vh 2vw;
    border: 0.5vh solid $color-dark-grey;
  }
}
