@use "../../styles/varibles/abstracts.scss" as *;
@use "../../styles/varibles/typography.scss" as *;

.about-container {
  margin-top: 10vh;
  //   height: 60vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //   &__title-container {
  //   }
  //   &__title {
  //   }

  //   &__text-container {
  //   }
  //   &__text {
  //   }
  &__image-container {
    height: 60vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10vh;
  }
  &__image {
    height: 60vh;
    width: auto;
  }
}
