.projectCard {
  height: 30vh;

  &__image-container {
    height: 15vh;
    &__image {
        height:100%;
        width:auto;
    }
  }
  &__content-container {
    &__content-language-container {
      &__content-language {
      }
    }
    &__content-title-container {
      &__content-language {
      }
    }
    &__content-title-container {
      &__content-title {
      }
    }
    &__content-info-container {
      &__content-info {
      }
    }
    &__button-container{

    }
  }
}
.projectCard2{
    height: 30vh;
}
