@use "../../styles/varibles/typography.scss" as *;
@use "../../styles/varibles/abstracts.scss" as *;

.projectCard {
  min-height: 70vh;
  height: auto;
  background-color: $background-color;
  margin: 5vh 0vw;
  width: 80%;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1vh solid $color-dark-grey;
  border-radius: 3vh;

  &__image-container {
    height: 50%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    
  }
  &__image {
    height: 35vh;
    width: auto;
    
  }
  &__content-language {
    font-family: $fontTitle;
    font-size: $font-large-header;
  }
  &__content-title {
    font-family: $fontTitle;
    font-size: $font-medium-header;
  }
  &__content-info {
    font-family: $fontText;
    font-size: 0.7rem;
  }

  &__button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  &__code{
    height: 6vh;
    width:15vw;
    border: 0.5vh solid $color-dark-grey;
    border-radius: 2vh;
    text-align: center;
  }
  &__preview{
    height: 6vh;
    width:15vw;
    border: 0.5vh solid $color-dark-grey;
    border-radius: 2vh;
  
  }
}
