@use "../../styles/varibles/abstracts.scss" as *;
@use "../../styles/varibles/typography.scss" as *;

.active {
  opacity: 20%;
  overflow: hidden;
}
.about-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;

  &__title-container {
    margin-bottom: 2vh;
  }
  &__title {
    font-size: 4rem;
    font-family: $fontTitle;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    padding: 0vh 2vh 3vh 2vh;
    font-family: $fontText;
  }
  &__text-upper {
    margin-top: 3vh;
    font-size: $font-text;
    text-align: center;
  }
  &__text-lower {
    margin-top: 4vh;
    font-size: $font-text;
    font-weight: bold;
    text-align: center;
  }
  &__text-lower-hidden {
    display: none;
  }
  &__text-bold {
    font-weight: bold;
  }

  &__image-container {
    height: 30vh;
    width: 30vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50vh;
    border: 1vh solid $color-light-grey;
  }
  &__image {
    height: 30vh;
    width: auto;
  }
  &__button {
    margin-bottom: 10vh;
    border: 0.5vh solid $color-light-grey;
    border-radius: 2vh;
    font-weight: bold;
  }
  &__button:hover {
    background-color: $dark-background-footer;
    color: $color-white;
  }
}
@media screen and (min-width: $large-desktop-breakpoint) {
  .about-content {
    width: 80vw;
  }
}
