
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;

$background-color: #e5e5e5;
$background-footer: #001427;
$background-third: #e3f6f5;
$font-color: #001427;
$font-color-footer: #e5e5e5;

$color-white: #ffffff;
$color-black: #000000;
$color-light-grey: #e0e2f4;
$color-dark-grey: #7b7b7b;

$dark-background-color: #181D31;
$dark-background-footer: #2E4F4F;
$dark-background-third: #678983;
$dark-font-color: #E6DDC4;
$dark-font-color-footer: #F0E9D2;

