.header-container{
    height:40vh;
    display:none;
}

.header-content{
    display: flex;
    flex-direction: row;

    &__button-container{
        display: flex;
        flex-direction: row;
    
    }
}