@use "../../styles/varibles/abstracts.scss" as *;
@use "../../styles/varibles/typography.scss" as *;

// .overlay {
//   position: fixed;
//   top: 35vh;
//   left: 2.5vw;
//   right: 0;
//   bottom: 0;
//   z-index: 5;
// }
// .overlay-content {
//   width: 95vw;
//   height: 50vw;
//   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
//   border-radius: 7px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   align-items: center;
//   // background-color: $color-white;
//   // border: 5px solid $light-border;
// }
// .overlay-text {
//   text-align: center;
//   // font-family: $font-modern;
//   font-size: 1.5rem;
//   font-weight: 500;
//   // color: $page-sub-heading;
// }
// .overlay-buttons {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
// }

.overlay-container {
  position: fixed;
  top: 10vh;
  left: 10vw;
  z-index: 5;
  background-color: blue;
  height: 80vh;
  width: 80vw;
  background-color: $background-third;
  border: 1vh solid $color-light-grey;
  border-radius: 5vh;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.overlay {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__title {
    padding: 6vh;
    text-align: center;
    font-size: 2.5rem;
  }
  &__text-upper {
    text-align: center;
    // font-family: $font-modern;
    font-size: 1rem;
    // font-weight: 500;
    // color: $page-sub-heading;
  }
  &__text-middle {
    text-align: center;

    font-size: 1rem;
  }
  &__text-lower {
    text-align: center;

    font-size: 1rem;
  }
  &__cross{
    margin:3vh;
    position: fixed;
  top: 10vh;
  right:7vh;
  }
}
