@use "../../styles/varibles/abstracts.scss" as *;
@use "../../styles/varibles/typography.scss" as *;

.overlay-container {
  position: fixed;
  top: 5vh;
  left: 10vw;
  z-index: 5;
  height: 80vh;
  width: 80vw;
  background-color: $background-third;
  border: 1vh solid $color-light-grey;
  border-radius: 5vh;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4vh;
  overscroll-behavior: contain;
  margin-top: 11vh;
  height: 60vh;
  width: auto;
  overflow-y: scroll;

  .textBold {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $fontText;
    font-size: 0.8rem;
  }

  &__title {
    padding: 6vh;
    text-align: center;
    font-size: 1.75rem;
    position: fixed;
    top: 4vh;
    font-family: $fontTitle;
  }
  &__text-hidden {
    margin-top: 175vh;
    text-align: center;
    font-family: $fontText;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: $fontText;
    font-size: 0.8rem;
  }
  &__text-middle {
    text-align: center;
    font-family: $fontText;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__text-lower {
    text-align: center;
    font-family: $fontText;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__cross {
    position: fixed;
    top: 7vh;
    right: 8vh;
    z-index: 5;
    cursor: pointer;
    :hover {
      background-color: $color-light-grey;
      border-radius: 50%;
    }
  }
  &__image-container {
    position: relative;
    right: -1vh;
    height: 25vh;
    width: 25vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    border: 1vh solid $color-light-grey;
    border-radius: 5vh;
    margin: 2vh 0vh;
  }
  &__images {
    position: relative;
    right: -1vh;
    height: 25vh;
    width: 25vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 1vh solid $color-light-grey;
    border-radius: 5vh;
    margin: 2vh 0vh;
  }
  &__images2 {
    position: relative;
    right: -1vh;
    height: 25vh;
    width: 25vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1vh solid $color-light-grey;
    border-radius: 5vh;
    margin: 2vh 0vh;
  }
  &__image {
    height: 50vh;
    width: auto;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .overlay {
    &__text-hidden {
      margin-top: 183vh;
    }
  }
}
@media screen and (min-width: $large-desktop-breakpoint) {
  .overlay {
    &__text-hidden {
      margin-top: 220vh;
    }
    &__image {
      height: 77vh;
      width: auto;
    }
    &__image-container {
      height: 30vh;
      width: 50vh;
    }
    &__images {
      height: 32vh;
      width: 50vh;
    }
    &__images2 {
      height: 30vh;
      width: 50vh;
    }
  }
}
