// @use "../varibles/abstracts.scss" as *;
// @use "../varibles/typography.scss" as *;


.app{
    min-height: 400vh;
    height:auto;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}